{% extends 'base.html' %}



{% block content %}

<div class="container">
    {% for category in categoryes  %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">

          <h3 class="mb-0">{{category.title|safe}}</h3>
          <div class="mb-1 text-muted">{{category.body|safe}}</div>
          <p class="card-text mb-auto"></p>

          <a href="{{ category.get_absolute_url }}" class="btn btn-primary">Continue reading</a>

        </div>

      </div>
    </div>
    {% endfor  %}

  </div>

<!--<a href="{{ category.get_absolute_url }}" class="stretched-link">{{category}}</a>-->


{% endblock %}