{% extends 'base.html' %}



{% block content %}
 <div class="container px-4 py-5" id="hanging-icons">
{% for message in messages %}

        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h5 class="my-0 fw-normal">{{message.author}}</h5>
          </div>
          <div class="card-body">

              <h7>{{message}}</h7><hr>
              <h8>{{message.create_date}}</h8>


          </div>

        </div>

{% endfor %}
<form method="POST" action="{% url 'message_form_url' %}">
 {% csrf_token %}

{{form.as_p}}
    <button class="btn btn-primary" type="submit" >Отправить</button>
</form>

        </div>
{% endblock %}